head
  link(rel="stylesheet", href="/css/menu.css")
div  
  main(class='main-content')
    nav
      ul
        li
          a(href="/cliente/listar_cliente") Cliente
        li
          a(href="/producto/listar_productos") Producto
        li
          a(href="/compra/listar_compra") Compras
        li
          a(href="/stadic/estadisticas") Estadisticas 
        div(class='img-menu')
          a(href="/carrito_comp/listar")
            img(class='menu-img',src="/img/carro.png",title='mostrar compras', width=50, alt="carro")
            
        div(class='cerrar')
          a(href="/carrito_comp/volver") 
            img(src="/img/cerrar.png",title='cerrar sección',width=40, alt="cerrar") 
            
               